<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center login-title">Sign in to continue to uploadcsv-web</h1>
            <div class="account-wall">
                <img class="profile-img" src="images/a0.jpg"
                    alt="">
                <form class="form-signin">
                <label for="inputUsername" class="sr-only">Username</label>
			    <input type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus
			           ng-model="data.username">
			    <label for="inputPassword" class="sr-only">Password</label>
			    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required
			           ng-model="data.password">
                <button class="btn btn-lg btn-primary btn-block" ng-click="login()">Sign in</button>
                <label class="checkbox pull-left">
                    <input type="checkbox" value="remember-me">
                    Remember me
                </label>
                <a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span>
                </form>
            </div>
            <a href="#" class="text-center new-account">Create an account </a>
        </div>
    </div>
</div>
