<div class="crud_add __hidden" data-id="{{client_id}}">
  <div class="bg-light lter b-b wrapper-md">
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <h1 class="m-n font-thin h3 text-black">{{'GENERIC_SAVE' | translate}} / {{'GENERIC_EDIT' | translate}}</h1>
        <small class="text-muted">{{'GENERIC_INFO' | translate}}</small>
      </div>
    </div>
    <div class="close-action" ng-click="hideAdd()">
      {{'ACTION_CLOSE' | translate}}
      <a class="btn btn-md btn-bg btn-rounded btn-default btn-icon">
        <i class="glyphicon glyphicon-remove icon"></i>
      </a>
    </div>
  </div>
  <div data-ng-include=" 'views/crud/partial.status_msg.html' "></div>
  <div class="app-content-body">



    <form class="content-form form-group" name="clientForm" novalidate action="index.html" method="post">
      <div class="form-data row">

        <div class="form-group col-sm-12" ng-if="!editingId">
          <label class="col-sm-12 control-label" for="descricao">
            <i class="glyphicon glyphicon-info-sign icon"></i>
            {{'GENERIC_DESCRIPTION' | translate}}</label>
          <div class="col-sm-12">
            <input type="file" class="form-control-file" id="fileInput" name="fileInput" ng-click="uploadImage()">
          </div>
        </div>
      </div>


        <div class="form-group col-sm-16" ng-if="editingId">
          <label class="col-sm-12 control-label" for="name">
            <strong>{{'NAME' | translate}}
              <span class="required">*</span>
            </strong>
          </label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="name" name="name" ng-model="newcidade.name" ng-minlength="0" ng-maxlength="255"
              ng-required="true">
          </div>
        </div>

        <div class="form-group col-sm-16" ng-if="editingId">
          <label class="col-sm-12 control-label" for="ibgeId">
            <strong>IBGE
              <span class="required">*</span>
            </strong>
          </label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="ibgeId" name="ibgeId" ng-model="newcidade.ibgeId" ng-minlength="0" ng-maxlength="255"
              ng-required="true">
          </div>
        </div>
        <div class="form-group col-sm-16" ng-if="editingId">
          <label class="col-sm-12 control-label" for="uf">
            <strong>UF
              <span class="required">*</span>
            </strong>
          </label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="uf" name="uf" ng-model="newcidade.uf" ng-minlength="0" ng-maxlength="255" ng-required="true">
          </div>
        </div>
        <div class="form-group col-sm-16" ng-if="editingId">
          <label class="col-sm-12 control-label" for="capital">
            <strong>CAPITAL
              <span class="required">*</span>
            </strong>
          </label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="capital" name="capital" ng-model="newcidade.capital" ng-minlength="0" ng-maxlength="255"
              ng-required="true">
          </div>
        </div>
        <div class="form-group col-sm-16" ng-if="editingId">
          <label class="col-sm-12 control-label" for="lon">
            <strong>LON
              <span class="required">*</span>
            </strong>
          </label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="lon" name="lon" ng-model="newcidade.lon" ng-minlength="0" ng-maxlength="255"
              ng-required="true">
          </div>
        </div>
        <div class="form-group col-sm-16" ng-if="editingId">
          <label class="col-sm-12 control-label" for="lat">
            <strong>LAT
              <span class="required">*</span>
            </strong>
          </label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="lat" name="lat" ng-model="newcidade.lat" ng-minlength="0" ng-maxlength="255"
              ng-required="true">
          </div>
        </div>
        <div class="form-group col-sm-16" ng-if="editingId">
          <label class="col-sm-12 control-label" for="noAccents">
            <strong>ACCENTS
              <span class="required">*</span>
            </strong>
          </label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="noAccents" name="noAccents" ng-model="newcidade.noAccents" ng-minlength="0" ng-maxlength="255"
              ng-required="true">
          </div>
        </div>
        <div class="form-group col-sm-16" ng-if="editingId">
          <label class="col-sm-12 control-label" for="alternativeNames">
            <strong>NOME ALTERNATIVO
              <span class="required">*</span>
            </strong>
          </label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="alternativeNames" name="alternativeNames" ng-model="newcidade.alternativeNames"
              ng-minlength="0" ng-maxlength="255" ng-required="true">
          </div>
        </div>
        <div class="form-group col-sm-16" ng-if="editingId">
          <label class="col-sm-12 control-label" for="microregion">
            <strong>MICRO
              <span class="required">*</span>
            </strong>
          </label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="microregion" name="microregion" ng-model="newcidade.microRegion" ng-minlength="0"
              ng-maxlength="255" ng-required="true">
          </div>
        </div>
        <div class="form-group col-sm-16" ng-if="editingId">
          <label class="col-sm-12 control-label" for="mesoregion">
            <strong>MESO
              <span class="required">*</span>
            </strong>
          </label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="mesoregion" name="mesoregion" ng-model="newcidade.mesoRegion" ng-minlength="0"
              ng-maxlength="255" ng-required="true">
          </div>
        </div>

    </form>
    <div class="overlayer-actions">
      <div class="btn btn-default btn-delete __btn_pink" ng-if="editingId" ng-click="showexclusionmodal()">
        <a>
          <span>{{'ACTION_REMOVE' | translate}}</span>
        </a>
      </div>
      <div class="btn btn-default btn-save-edit" ng-if="editingId" ng-click="saveCidade()">
        <a>
          <span>{{'ACTION_SAVE' | translate}}</span>
        </a>
      </div>
      <div class="btn btn-default btn-save-edit" ng-if="!editingId" ng-click="uploadcsv()">
        <a>
          <span>Importar CSV</span>
        </a>
      </div>
  
    </div>
  </div>
  
  