<!-- navbar -->
<core-header class="app-header navbar"></core-header>
<!-- / navbar -->

<!-- menu -->
<div data-ng-include="'views/core/aside.html'" class="app-aside hidden-xs"></div>
<!-- / menu -->

<!-- content -->
<!-- <div class="app-content">
<div ui-butterbar></div>
<a href class="off-screen-toggle hide" ui-toggle-class="off-screen" data-target=".app-aside" ></a>
<div class="app-content-body fade-in-up" ui-view></div>
</div> -->
<div class="app-content crud">
  <div class="bg-light lter b-b wrapper-md">
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <h1 class="m-n font-thin h3 text-black">{{'GENERIC_LIST' | translate}}</h1>
        <small class="text-muted">{{'GENERIC_INFO' | translate}}</small>
      </div>
    </div>
  </div>
  <div data-ng-include="'views/crud/partial.status_msg.html'"></div>
  <div class="app-content-body">
    <div ng-include="'views/crud/exclusion_modal.html'" class='__hidden'></div>
    <div ng-include="templateURL"></div>
    <div class="content-body-header" data-ng-include="'views/crud/partial.crud_header.html'"></div>
    <h5 ng-if="listcountuf && $index === 0" ng-repeat="c in listcountuf | orderBy:'-count'">Estado com maior número de cidades <span class="badge badge-pill badge-success">{{c.uf}} - {{c.count}}</span></h3>
    <h5 ng-if="listcountuf  && $index === 0" ng-repeat="c in listcountuf | orderBy:'count'">Estado com menor número de cidades <span class="badge badge-danger">{{c.uf}} - {{c.count}}</span></h3>
    <div class="content-table">
      <table style="width:100%" class="table">
        <tr>
          <tr class="thead">
            <th colspan="2" style="cursor: pointer;" ng-click="changeSort('id')">
              <i class="glyphicon glyphicon-user icon"></i>{{'GENERIC_ID' | translate}}
              <i class="fa fa-sort icon" title="{{'ACTION_CHANGE_SORT' | translate}}"></i>
            </th>
            <th style="cursor: pointer;" ng-click="changeSort('ibgeId')">
              <i class="glyphicon glyphicon-briefcase icon"></i>IBGE
              <i class="fa fa-sort icon" title="{{'ACTION_CHANGE_SORT' | translate}}"></i>
            </th>
            <th style="cursor: pointer;" ng-click="changeSort('uf')">
              <i class="glyphicon glyphicon-file icon"></i>UF
              <i class="fa fa-sort icon" title="{{'ACTION_CHANGE_SORT' | translate}}"></i>
            </th>
            <th style="cursor: pointer;" ng-click="changeSort('name')">
              <i class="glyphicon glyphicon-file icon"></i>NOME
              <i class="fa fa-sort icon" title="{{'ACTION_CHANGE_SORT' | translate}}"></i>
            </th>
            <th style="cursor: pointer;" ng-click="changeSort('lon')">
              <i class="glyphicon glyphicon-file icon"></i>LON
              <i class="fa fa-sort icon" title="{{'ACTION_CHANGE_SORT' | translate}}"></i>
            </th>
            <th style="cursor: pointer;" ng-click="changeSort('lat')">
              <i class="glyphicon glyphicon-file icon"></i>LAT
              <i class="fa fa-sort icon" title="{{'ACTION_CHANGE_SORT' | translate}}"></i>
            </th>
            <th style="cursor: pointer;" ng-click="changeSort('noAccents')">
              <i class="glyphicon glyphicon-file icon"></i>ACCESS
              <i class="fa fa-sort icon" title="{{'ACTION_CHANGE_SORT' | translate}}"></i>
            </th>
            <th style="cursor: pointer;" ng-click="changeSort('microRegion')">
              <i class="glyphicon glyphicon-file icon"></i>MICRO 
              <i class="fa fa-sort icon" title="{{'ACTION_CHANGE_SORT' | translate}}"></i>
            </th>
            <th style="cursor: pointer;" ng-click="changeSort('mesoRegion')">
              <i class="glyphicon glyphicon-file icon"></i>MESO 
              <i class="fa fa-sort icon" title="{{'ACTION_CHANGE_SORT' | translate}}"></i>
            </th>


          </tr>
        </tr>
        <tr ng-repeat="p in cidade.content | filter: hasLogo" data-id="{{p.id}}" ng-click="editCidade({{p.id}})">
          <td class="row-logo">
            <img class="row-logo-img" ng-src="{{c.logo}}" alt="" />
          </td>
          <td>{{p.id}}</td>
          <td>{{p.ibgeId}}</td>
          <td>{{p.uf}}</td>
          <td>{{p.name}}</td>
          <td>{{p.lon}}</td>
          <td>{{p.lat}}</td>
          <td>{{p.noAccents}}</td>
          <td>{{p.microRegion}}</td>
          <td>{{p.mesoRegion}}</td>

        </tr>
      </table>
    </div>

    <div data-ng-include="'views/crud/partial.crud_footer.html'"></div>

  </div>
</div>
<!-- modal -->


<!-- /content -->

<!-- footer -->
<!-- <div class="app-footer wrapper b-t bg-light">
<span class="pull-right">{{app.version}} <a href ui-scroll-to="app" class="m-l-sm text-muted"><i class="fa fa-long-arrow-up"></i></a></span>
&copy; 2016 Copyright.
</div> -->
<!-- / footer -->

<div data-ng-include=" 'views/core/settings.html' " class="settings panel panel-default">
</div>