<div class="pagination-description" ng-if="pageslength.length > 0">
	{{::('ACTION_ARE_YOU_SEEING' | translate)}} <span ng-bind="pagesCounter"></span> {{::('ACTION_IN' | translate)}} <span class="total_records" ng-bind="totalElements"></span>
</div>
<div class="pagination" ng-if="pageslength.length > 0">
	<ul class="pagination_itens">
		<li ng-if="page > 0">
			<a ng-click="changePage('prev')"><i class="glyphicon glyphicon-chevron-left"></i></a>
		</li>
		<li ng-class="page === (i - 1) ? 'active' : ''" ng-repeat="i in pageslength" ng-click="changePage(i)" ng-if="i <= ((totalElements / 10)+1)">
			<a>{{i}}</a>
		</li>
			<li ng-if="((pageslength[pageslength.length]-1) < (totalElements/size) )">
			<a ng-click="changePage('next')"><i class="glyphicon glyphicon-chevron-right"></i></a>
		</li>
	</ul>
</div>