<!-- list -->
<ul class="nav">
    <li ui-sref-active="active">
        <a  ng-href="/#/cidade" href="/#/cidade">
            <i class="fa fa-bullhorn" aria-hidden="true" style="font-size: 21px; margin-right: -2px; margin-left: -5px;"></i>
            <span class="font-bold"> Cidades</span>
        </a>
    </li>
    <li ng-class="class" ng-click="changeClassNav()">
        <a href="" class="auto">
            <span class="pull-right text-muted">
                <i class="fa fa-fw fa-angle-right text"></i>
                <i class="fa fa-fw fa-angle-down text-active"></i>
            </span>
            <!--<img src="images/icon_create.png" alt="">-->
            <i class="fa fa-database" aria-hidden="true" style="font-size: 21px; margin-right: -2px; margin-left: -5px;"></i>
            <span class="font-bold" >{{'ENTRIES'  | translate}}</span>
        </a>
        <ul class="nav nav-sub dk">
            <li class="nav-sub-header">
                <a class="auto">
                    <span class="font-bold">{{'ENTRIES'  | translate}}</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a  ng-href="/#/teste1">
                    <!-- <b class="label bg-info pull-right">B</b> -->
                    <span>Teste 1</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a  ng-href="/#/teste2">
                    <!-- <b class="label bg-info pull-right">C</b> -->
                    <span>Teste 2</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ng-href="/#/teste3">
                    <!-- <b class="label bg-info pull-right">C</b> -->
                    <span>Teste 3</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ng-href="/#/teste4">
                    <!-- <b class="label bg-info pull-right">C</b> -->
                    <span>Teste 5</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ng-href="/#/teste6">
                    <!-- <b class="label bg-info pull-right">C</b> -->
                    <span>Teste 6</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ng-href="/#/teste7">
                    <!-- <b class="label bg-info pull-right">J</b> -->
                    <span>Teste 7</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ng-href="/#/teste8">
                    <!-- <b class="label bg-info pull-right">P</b> -->
                    <span>Teste 8</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ng-href="/#/teste9">
                    <!-- <b class="label bg-info pull-right">W</b> -->
                    <span>Teste 9</span>
                </a>
            </li>
        </ul>
    </li>
    <li ui-sref-active="active">
        <a ng-href="/#/profile">
            <!--<img src="images/icon_profile.png" alt="">-->
            <i class="glyphicon glyphicon-user" style="font-size: 21px; margin-right: -2px; margin-left: -5px;"></i>
            <span class="font-bold">{{'USER_PROFILE' | translate}}</span>
        </a>
    </li>
</ul>
<!-- / list -->
